body{
    background: url(./bg.jpg);
    background-size: cover;
}
.bg{
    background: rgba(0,0,0,0.7);
    width: 1200px;
    height: 750px;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
}
h1,h3,label{
    color: white;
    padding-top: 40px;
    
}
h2,h4{
    border: 1px solid rgba(255, 255, 255, 0.379);
    background: white;
    height: 30px;
    width: 300px;
    border-radius: 2px;
    color: black;
    font-size: x-large;
}
h2{
    margin-top: 40px;
    padding: 40px;
}

.lab{
    margin-top: 70px;
}
input[type="text"]{
    height: 30px;

}
input[type="submit"]{
    height: 30px;
    width: 200px;
    margin-top: 40px;
    border-radius: 4px;

}
